@using System.Web.Mvc
@using System.Web.Mvc.Html
@model CustomerSurvey.Dto.SurveyResponse
@{
    ViewBag.Title = "Survey feedback for Bayer";
}

@using (Html.BeginForm("Create", "SurveyResponse", FormMethod.Post, new { enctype = "multipart/form-data", id = "surveyResponseCreateForm" }))
{
    @Html.ValidationSummary(true)
    <div class="contenedor">
        <div class="title">How satisfied are you with our services?</div>
            <ul class="ico_califica">
                <li class="ico_1">
                    <img src="/Content/images/1_a.png"/></li>
                <li class="ico_2">
                    <img src="/Content/images/2_a.png"/></li>
                <li class="ico_3">
                    <img src="/Content/images/3_a.png"/></li>
            </ul>
            @Html.HiddenFor(model => model.Rating)
            @Html.ValidationMessageFor(model => model.Rating)

        <div class="contenedor_formulario">
            <span class="input input--akira">
                @Html.TextBoxFor(model => model.HospitalName, new {@class = "input__field input__field--akira", @id = "input-22"})
                <label class="input__label input__label--akira" for="input-22">
					<span class="input__label-content input__label-content--akira">Hospital/Clinic name</span>
				</label>
            </span>

            @Html.TextAreaFor(model => model.Comments, new {@placeholder = "Any comments?"})
            <input type="submit" name="submit" id="submit"  value="SEND RATING">
        </div>
    </div>
}
